---

import BaseLayout from "../layouts/BaseLayout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPostTest } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPostTest>({
  content_type: "blogPostTest",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString()
  };
});


const pageTitle = "Sample Blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
    <body>
            <BaseLayout>
        
            <h1>My {pageTitle}</h1>

        
            <p>This is the updated sample Blog Page for contentful</p>


            <ul>
                {posts.map((post) => (
                  <li>
                    <a href={`/posts/${post.slug}/`}>
                      <h2>{post.title}</h2>
                    </a>
                    <time>{post.date}</time>
                    <p>{post.description}</p>
                  </li>
                ))}
              </ul>
           
    
            </BaseLayout>
              <script>
                import "../scripts/menu.js";
           </script>
      </body>
</html>